<a href="https://colab.research.google.com/github/Worachet-Ch/data_viz_2022/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#นำเข้าข้อมูล

In [40]:
import pandas as pd #ทำงานกับข้อมูลลักษณะตาราง
import os

In [41]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/final_dataviz' #เข้า drive
data_file_path = os.path.join(path,'alldb.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
alldb = pd.read_csv(data_file_path) #อ่านไฟล์ csv
hospital = pd.read_csv(os.path.join(path,'hospital_list.csv'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# เลือกข้อมูล

In [43]:
alldb_01 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
alldb_01

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

# เตรียมข้อมูล alldb

## Dropna

In [44]:
alldb_dp =alldb_01.dropna()
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [45]:
print (alldb_dp.dtypes)

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

In [46]:
alldb_dp['user'].replace({'45-161':'45161','745-61':'74561','71378\n71378':'71378','40591\n40591\n':'40591','17536\n\n17536':'17536',},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [47]:
alldb_dp.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

In [48]:
alldb_dp['PartitionKey'].replace({'0-1544':'01544','0-1528':'01528'},inplace= True )

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [49]:
US = list()
for each_row in alldb_dp.iterrows():
  if len(str(each_row[1]['user'])) == 5:
    if str(each_row[1]['user']) <= '99999':
      US.append(True)
    elif str(each_row[1]['user']) > '100000':
      US.append(False)
  else:
    US.append(False)
alldb_dp = alldb_dp[US]
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,01528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,01544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [50]:
SI = list()
for each_row in alldb_dp.iterrows():
  if len(str(each_row[1]['site'])) == 5:
    if str(each_row[1]['site']) <= '99999':
      SI.append(True)
    else:
      SI.append(False)
  else:
    SI.append(False)
alldb_dp = alldb_dp[SI]
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,01528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,01544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [51]:
PK = list()
for each_row in alldb_dp.iterrows():
  if len(str(each_row[1]['PartitionKey'])) == 5:
    if str(each_row[1]['PartitionKey']) <= '99999':
      PK.append(True)
    else:
      PK.append(False)
  else:
    PK.append(False)
alldb_dp = alldb_dp[PK]
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,01528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,01544
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [52]:
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,01528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,01544
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [53]:
alldb_dp.dtypes

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

## ต้องการให้ user, site, ov และ PartitionKey เป็นตัวเลขเท่านั้น

In [54]:
import numpy as np

### ทำให้คอลัมน์ที่ต้องการเป็น float โดย errors=’coerce’ คือ ถ้าค่าใดในคอลัมน์ไม่ใช่ค่าตัวเลข จะถูกเปลี่ยนเป็นค่า nan

In [55]:
alldb_dp['user'] = pd.to_numeric(alldb_dp['user'], errors='coerce') #errors=’coerce’, you’ll transform the non-numeric values into NaN.
alldb_dp['site'] = pd.to_numeric(alldb_dp['site'], errors='coerce')
alldb_dp['ov'] = pd.to_numeric(alldb_dp['ov'], errors='coerce')
alldb_dp['PartitionKey'] = pd.to_numeric(alldb_dp['PartitionKey'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### แทนที่ค่าว่าง (nan) ด้วยเลข 5

In [56]:
alldb_dp = alldb_dp.replace(np.nan, 5, regex=True)
alldb_dp['user'] = alldb_dp['user'].astype(int)
alldb_dp['site'] = alldb_dp['site'].astype(int)
alldb_dp['ov'] = alldb_dp['ov'].astype(int)
alldb_dp['PartitionKey'] = alldb_dp['PartitionKey'].astype(int)

In [57]:
print (alldb_dp.dtypes)

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

In [58]:
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09:45:28,ปกติ (เหลืองใส),0,1528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10:06:45,ปกติ (เหลืองใส),0,1544
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [59]:
alldb_dp[alldb_dp['ov']=='5']

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey]
Index: []

In [60]:
set(alldb_dp['ov'])

{0, 1, 2, 3, 4, 5}

## ต้องการให้ RowKey, phone และ urine เป็น String

In [61]:
alldb_dp['phone']=alldb_dp['phone'].astype('string')

In [62]:
alldb_dp['RowKey']=alldb_dp['RowKey'].astype('string')

In [63]:
alldb_dp['urine']=alldb_dp['urine'].astype('string')

In [64]:
alldb_dp.dtypes

user             int64
RowKey          string
date            object
phone           string
site             int64
time            object
urine           string
ov               int64
PartitionKey     int64
dtype: object

In [65]:
set(alldb_dp['date'])

{'2022-02-15',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05'}

### date เป็น YYYY-MM-DD แล้ว

In [66]:
alldb_dp['time'] = alldb_dp['time'].replace(':','-', regex=True)

In [67]:
set(alldb_dp['time'])

{'21-27-55',
 '11-33-56',
 '16-42-12',
 '10-46-50',
 '12-05-11',
 '12-14-41',
 '12-14-47',
 '11-13-48',
 '10-28-27',
 '15-47-21',
 '12-38-57',
 '10-58-01',
 '06-52-34',
 '14-23-42',
 '12-03-18',
 '12-07-22',
 '13-44-50',
 '09-38-23',
 '14-11-23',
 '21-30-58',
 '18-15-50',
 '16-03-09',
 '14-09-16',
 '14-51-37',
 '21-07-06',
 '17-42-26',
 '14-41-59',
 '10-38-08',
 '12-59-50',
 '09-40-20',
 '12-05-40',
 '21-58-53',
 '17-08-10',
 '12-07-52',
 '11-44-42',
 '11-36-05',
 '11-19-09',
 '10-54-21',
 '10-37-52',
 '10-14-09',
 '16-28-48',
 '17-22-35',
 '11-35-13',
 '11-07-28',
 '11-05-10',
 '12-53-27',
 '15-54-09',
 '12-46-43',
 '13-34-27',
 '09-57-48',
 '10-19-37',
 '15-05-43',
 '10-02-27',
 '10-00-47',
 '14-24-20',
 '15-47-25',
 '12-30-03',
 '13-24-35',
 '10-20-16',
 '17-35-58',
 '15-43-52',
 '10-19-29',
 '11-20-44',
 '18-09-11',
 '10-55-44',
 '12-24-15',
 '19-07-26',
 '11-25-56',
 '12-42-40',
 '12-00-27',
 '14-29-28',
 '13-01-04',
 '14-45-43',
 '16-41-40',
 '11-27-01',
 '10-37-47',
 '11-20-09',
 '10-09-36',
 '10-57-25',
 '15-16-34',
 '16-17-00',
 '16-03-56',
 '08-54-53',
 '11-07-50',
 '12-40-53',
 '13-31-45',
 '16-27-01',
 '10-37-41',
 '10-31-28',
 '10-15-15',
 '17-46-31',
 '10-56-05',
 '09-49-00',
 '10-06-45',
 '09-21-24',
 '11-00-11',
 '18-20-42',
 '15-10-36',
 '08-20-22',
 '14-18-41',
 '09-46-26',
 '11-56-59',
 '10-36-40',
 '17-17-36',
 '11-08-21',
 '14-45-17',
 '20-09-42',
 '16-33-26',
 '11-19-10',
 '09-47-00',
 '13-17-03',
 '14-41-47',
 '16-27-00',
 '12-01-20',
 '18-24-21',
 '12-54-21',
 '12-25-59',
 '14-55-48',
 '13-22-15',
 '10-04-33',
 '14-58-19',
 '11-25-26',
 '10-28-21',
 '11-42-25',
 '11-57-55',
 '21-57-17',
 '10-24-44',
 '10-02-30',
 '12-45-49',
 '15-44-38',
 '10-38-44',
 '11-37-47',
 '16-56-40',
 '11-55-59',
 '10-24-37',
 '10-49-50',
 '15-23-00',
 '17-48-11',
 '17-29-31',
 '20-01-28',
 '10-21-30',
 '09-02-15',
 '13-09-26',
 '15-01-19',
 '11-45-06',
 '08-14-43',
 '11-06-38',
 '09-22-00',
 '14-55-51',
 '10-33-26',
 '12-34-01',
 '13-36-06',
 '09-43-17',
 '17-08-30',
 '10-21-22',
 '10-35-02',
 '13-25-49',
 '13-16-33',
 '10-23-39',
 '11-27-19',
 '14-30-00',
 '09-10-13',
 '14-52-33',
 '17-05-52',
 '10-45-27',
 '11-49-28',
 '10-07-59',
 '14-33-17',
 '13-08-35',
 '22-54-41',
 '14-54-16',
 '14-16-06',
 '22-48-09',
 '11-27-15',
 '17-43-17',
 '13-05-04',
 '12-32-13',
 '11-22-13',
 '17-41-21',
 '13-59-23',
 '14-14-00',
 '14-50-36',
 '09-38-51',
 '12-42-34',
 '11-33-33',
 '10-20-58',
 '12-14-04',
 '15-37-16',
 '15-30-16',
 '14-26-33',
 '20-11-44',
 '21-35-11',
 '10-45-26',
 '13-37-06',
 '10-10-16',
 '09-47-37',
 '11-17-40',
 '14-37-11',
 '11-25-24',
 '16-09-03',
 '13-54-44',
 '11-15-44',
 '15-04-45',
 '17-11-34',
 '12-59-48',
 '16-37-49',
 '15-26-08',
 '15-04-58',
 '15-01-11',
 '14-45-23',
 '12-03-34',
 '13-21-44',
 '09-58-07',
 '11-25-16',
 '11-11-49',
 '12-15-59',
 '14-32-39',
 '15-12-42',
 '14-09-02',
 '12-17-34',
 '12-24-27',
 '11-59-29',
 '16-15-59',
 '11-16-47',
 '16-18-02',
 '13-33-35',
 '09-44-28',
 '11-58-04',
 '14-47-48',
 '09-27-01',
 '14-52-24',
 '13-01-51',
 '13-21-15',
 '14-22-32',
 '13-56-24',
 '14-12-31',
 '10-36-59',
 '09-42-47',
 '13-57-19',
 '10-30-46',
 '14-25-35',
 '17-22-00',
 '12-35-40',
 '11-28-56',
 '15-48-11',
 '14-05-48',
 '10-49-56',
 '15-10-56',
 '16-00-32',
 '10-34-07',
 '14-31-52',
 '16-18-25',
 '15-06-01',
 '10-58-48',
 '09-41-39',
 '13-30-43',
 '13-37-47',
 '14-15-31',
 '10-28-47',
 '16-33-09',
 '10-41-33',
 '10-36-22',
 '15-57-26',
 '10-22-12',
 '14-10-25',
 '10-34-49',
 '15-18-49',
 '22-32-40',
 '19-18-09',
 '16-54-49',
 '18-05-42',
 '12-56-18',
 '10-06-22',
 '10-23-53',
 '19-32-10',
 '17-01-12',
 '15-55-49',
 '10-05-08',
 '09-29-29',
 '13-16-09',
 '11-50-11',
 '20-00-35',
 '12-27-53',
 '07-56-11',
 '11-53-45',
 '16-54-50',
 '12-50-27',
 '11-37-02',
 '15-02-04',
 '10-36-46',
 '13-13-06',
 '14-52-20',
 '16-23-22',
 '16-12-22',
 '15-37-14',
 '10-55-57',
 '12-12-37',
 '15-38-17',
 '14-54-52',
 '09-58-16',
 '14-47-41',
 '14-35-10',
 '10-14-53',
 '14-52-09',
 '11-12-18',
 '09-50-59',
 '13-01-20',
 '09-11-32',
 '17-14-11',
 '17-37-06',
 '09-58-42',
 '15-13-36',
 '12-49-02',
 '15-18-09',
 '11-45-43',
 '15-36-08',
 '16-39-14',
 '22-16-58',
 '15-52-10',
 '12-04-14',
 '18-16-10',
 '11-39-16',
 '16-08-22',
 '13-12-54',
 '09-51-33',
 '11-41-37',
 '09-30-44',
 '15-49-52',
 '13-34-07',
 '12-04-32',
 '08-48-51',
 '17-25-31',
 '11-00-24',
 '14-02-16',
 '13-24-53',
 '12-19-23',
 '14-22-24',
 '10-44-15',
 '14-35-30',
 '14-13-18',
 '09-56-04',
 '10-30-10',
 '09-26-35',
 '12-52-28',
 '17-10-16',
 '10-09-08',
 '15-05-27',
 '14-18-50',
 '09-57-10',
 '11-00-09',
 '13-13-31',
 '13-13-05',
 '10-23-21',
 '21-37-23',
 '11-11-37',
 '09-57-19',
 '16-20-28',
 '11-32-49',
 '12-53-32',
 '16-15-56',
 '16-37-17',
 '10-59-01',
 '13-06-43',
 '10-33-27',
 '08-58-51',
 '11-59-44',
 '15-25-49',
 '18-16-16',
 '16-48-39',
 '18-45-47',
 '14-22-34',
 '16-11-32',
 '14-24-36',
 '15-40-16',
 '17-17-57',
 '15-41-38',
 '19-08-59',
 '18-08-16',
 '17-59-09',
 '11-46-24',
 '09-12-00',
 '11-22-45',
 '11-26-05',
 '14-37-00',
 '11-12-21',
 '17-01-16',
 '14-13-13',
 '11-16-45',
 '12-28-35',
 '13-22-29',
 '11-49-17',
 '15-47-01',
 '14-17-15',
 '17-33-29',
 '15-39-06',
 '13-04-02',
 '15-22-19',
 '20-09-04',
 '09-45-53',
 '16-04-37',
 '14-28-31',
 '16-20-13',
 '18-45-03',
 '15-17-14',
 '14-08-55',
 '17-51-38',
 '16-57-38',
 '11-03-15',
 '10-12-07',
 '15-52-52',
 '11-34-34',
 '12-59-29',
 '19-52-24',
 '16-17-03',
 '07-15-45',
 '13-20-55',
 '13-09-06',
 '18-32-28',
 '13-47-00',
 '14-35-53',
 '16-08-30',
 '12-20-04',
 '10-05-43',
 '14-40-08',
 '14-58-08',
 '12-06-40',
 '11-37-19',
 '11-07-01',
 '09-36-08',
 '15-14-34',
 '11-04-01',
 '10-09-32',
 '13-12-43',
 '14-10-12',
 '10-13-22',
 '11-33-54',
 '11-39-58',
 '16-33-12',
 '16-04-48',
 '10-39-13',
 '11-38-14',
 '15-32-25',
 '09-25-09',
 '10-29-52',
 '14-48-13',
 '15-16-24',
 '19-40-12',
 '15-09-15',
 '10-46-45',
 '16-12-34',
 '09-28-28',
 '14-20-32',
 '11-50-12',
 '12-48-49',
 '10-49-07',
 '12-25-38',
 '18-56-15',
 '09-55-17',
 '17-19-33',
 '12-54-32',
 '11-57-32',
 '13-15-07',
 '15-17-51',
 '13-21-18',
 '15-18-08',
 '16-56-05',
 '18-23-47',
 '09-54-05',
 '15-14-33',
 '10-54-48',
 '16-08-55',
 '15-16-26',
 '08-36-31',
 '15-41-11',
 '11-15-56',
 '16-10-34',
 '15-51-40',
 '14-16-24',
 '11-36-30',
 '18-26-07',
 '11-34-27',
 '21-21-34',
 '10-19-04',
 '11-32-38',
 '11-31-51',
 '16-20-03',
 '10-12-31',
 '12-48-22',
 '18-12-48',
 '11-19-17',
 '10-52-16',
 '10-45-06',
 '12-23-40',
 '09-04-25',
 '16-51-16',
 '14-22-11',
 '09-01-57',
 '15-12-35',
 '12-17-42',
 '09-59-19',
 '10-20-21',
 '15-11-30',
 '09-16-02',
 '18-20-53',
 '13-39-27',
 '15-41-35',
 '11-29-30',
 '10-48-24',
 '13-21-00',
 '10-40-23',
 '13-59-44',
 '16-16-26',
 '18-26-34',
 '13-41-55',
 '14-00-58',
 '15-31-01',
 '14-29-08',
 '11-25-32',
 '11-30-37',
 '10-44-20',
 '09-02-38',
 '13-38-10',
 '12-21-52',
 '15-10-27',
 '09-50-07',
 '14-28-23',
 '09-02-23',
 '14-28-27',
 '11-26-32',
 '13-44-26',
 '15-10-30',
 '15-25-28',
 '10-43-35',
 '08-12-04',
 '12-06-44',
 '10-20-46',
 '12-11-31',
 '11-47-44',
 '16-29-41',
 '10-09-25',
 '14-03-29',
 '14-10-36',
 '11-15-52',
 '14-59-31',
 '10-25-56',
 '12-04-23',
 '10-24-08',
 '15-43-04',
 '13-57-28',
 '10-07-45',
 '15-00-04',
 '11-42-29',
 '11-22-16',
 '14-14-18',
 '18-16-34',
 '10-03-08',
 '11-09-53',
 '09-51-41',
 '10-34-38',
 '15-59-50',
 '12-11-08',
 '13-52-57',
 '15-24-20',
 '13-49-38',
 '15-39-47',
 '13-19-38',
 '18-04-54',
 '15-15-36',
 '17-07-23',
 '16-00-27',
 '12-36-14',
 '11-00-50',
 '11-54-27',
 '13-54-54',
 '11-29-03',
 '15-15-17',
 '12-22-31',
 '11-21-56',
 '16-35-11',
 '13-40-18',
 '11-41-27',
 '16-34-44',
 '09-39-24',
 '11-41-49',
 '15-01-27',
 '10-10-31',
 '11-18-00',
 '10-01-41',
 '14-09-46',
 '10-10-42',
 '16-02-37',
 '18-27-53',
 '14-51-40',
 '17-13-36',
 '13-44-55',
 '15-31-59',
 '10-50-47',
 '09-55-08',
 '16-39-37',
 '08-08-22',
 '11-00-49',
 '17-12-06',
 '15-34-19',
 '15-31-38',
 '15-37-50',
 '17-21-28',
 '11-18-13',
 '10-37-15',
 '12-10-42',
 '09-30-26',
 '14-22-55',
 '12-32-15',
 '09-55-39',
 '11-44-02',
 '13-26-33',
 '13-01-47',
 '15-12-33',
 '09-30-09',
 '17-51-47',
 '19-16-52',
 '12-22-36',
 '18-50-21',
 '15-39-28',
 '12-13-19',
 '10-27-01',
 '15-36-56',
 '17-36-13',
 '15-32-02',
 '10-28-48',
 '14-16-33',
 '14-30-57',
 '14-47-57',
 '15-48-12',
 '09-53-45',
 '14-47-06',
 '18-08-56',
 '15-56-00',
 '13-05-46',
 '22-47-35',
 '13-59-01',
 '09-44-17',
 '12-15-35',
 '14-29-24',
 '15-49-18',
 '09-14-32',
 '11-36-42',
 '17-06-10',
 '15-24-30',
 '17-17-43',
 '18-13-52',
 '10-23-33',
 '10-13-37',
 '12-30-57',
 '11-15-40',
 '12-56-22',
 '14-35-09',
 '20-00-43',
 '11-46-31',
 '15-05-02',
 '13-50-04',
 '09-41-20',
 '14-30-42',
 '10-26-18',
 '14-27-24',
 '14-03-55',
 '17-56-05',
 '09-00-12',
 '12-22-16',
 '15-11-54',
 '17-23-44',
 '09-50-16',
 '16-00-29',
 '11-48-45',
 '20-26-27',
 '11-54-11',
 '10-40-59',
 '14-25-20',
 '14-23-07',
 '11-27-06',
 '13-46-39',
 '19-22-08',
 '14-28-09',
 '16-03-38',
 '09-56-05',
 '09-42-08',
 '12-32-24',
 '09-29-37',
 '16-26-51',
 '16-15-35',
 '14-22-06',
 '14-25-48',
 '16-28-33',
 '10-17-52',
 '09-57-42',
 '13-56-36',
 '10-08-00',
 '11-29-21',
 '18-16-49',
 '15-00-24',
 '14-18-43',
 '16-30-27',
 '17-35-20',
 '09-44-29',
 '15-05-56',
 '11-19-13',
 '07-29-25',
 '10-40-14',
 '10-34-11',
 '12-14-18',
 '11-33-25',
 '12-09-56',
 '16-15-02',
 '14-37-29',
 '22-55-05',
 '15-52-03',
 '09-50-25',
 '18-03-37',
 '11-22-27',
 '15-55-33',
 '10-06-48',
 '11-15-15',
 '13-02-26',
 '15-05-09',
 '13-00-29',
 '23-17-47',
 '10-59-40',
 '11-09-09',
 '09-26-41',
 '09-52-02',
 '17-37-39',
 '10-51-20',
 '12-11-05',
 '16-06-09',
 '10-01-38',
 '13-51-41',
 '21-36-23',
 '15-01-29',
 '12-30-48',
 '15-19-35',
 '10-45-02',
 '11-47-57',
 '11-06-43',
 '12-18-55',
 '11-14-39',
 '11-31-27',
 '13-25-14',
 '11-16-00',
 '09-28-13',
 '13-18-03',
 '14-17-34',
 '09-43-24',
 '09-49-12',
 '19-52-29',
 '12-02-26',
 '11-55-37',
 '14-59-25',
 '15-38-08',
 '10-34-14',
 '10-57-48',
 '11-00-59',
 '17-55-47',
 '09-24-35',
 '14-45-16',
 '16-03-03',
 '15-20-10',
 '14-57-34',
 '21-27-57',
 '09-34-42',
 '17-10-45',
 '15-30-22',
 '09-58-54',
 '14-25-42',
 '14-40-29',
 '11-34-47',
 '17-05-54',
 '15-10-17',
 '10-11-43',
 '13-47-22',
 '17-59-06',
 '17-03-18',
 '12-09-21',
 '09-41-59',
 '10-44-09',
 '11-45-15',
 '13-49-04',
 '11-28-23',
 '12-13-06',
 '10-18-14',
 '12-13-11',
 '23-00-03',
 '16-09-35',
 '11-17-01',
 '12-14-44',
 '12-01-06',
 '14-36-01',
 '13-09-53',
 '11-21-05',
 '16-19-17',
 '13-13-04',
 '09-39-42',
 '17-42-18',
 '14-06-20',
 '16-40-26',
 '10-21-47',
 '11-00-47',
 '12-58-28',
 '11-29-02',
 '21-11-56',
 '12-12-18',
 '10-02-20',
 '10-47-51',
 '12-52-49',
 '11-18-29',
 '11-09-25',
 '12-25-33',
 '15-06-51',
 '15-57-55',
 '14-42-02',
 '21-25-07',
 '18-14-08',
 '16-47-43',
 '13-14-32',
 '14-23-24',
 '14-02-06',
 '11-12-44',
 '15-50-00',
 '09-57-26',
 '12-24-55',
 '19-53-46',
 '09-04-45',
 '17-08-21',
 '12-12-56',
 '17-14-48',
 '13-08-39',
 '09-23-05',
 '12-02-40',
 '09-47-16',
 '16-02-57',
 '14-08-38',
 '11-05-21',
 '09-08-21',
 '12-11-09',
 '13-49-58',
 '15-19-19',
 '12-13-37',
 '15-03-07',
 '13-00-46',
 '13-04-58',
 '15-54-38',
 '17-32-06',
 '09-35-33',
 '12-04-31',
 '16-51-52',
 '15-06-34',
 '15-28-20',
 '09-55-10',
 '10-51-41',
 '13-45-22',
 '12-20-14',
 '11-17-35',
 '09-51-09',
 '16-56-53',
 '12-15-04',
 '12-15-45',
 '10-59-27',
 '12-35-10',
 '09-41-37',
 '11-03-55',
 '09-11-54',
 '08-11-45',
 '14-16-32',
 '10-41-37',
 '13-15-00',
 '09-54-32',
 '10-58-14',
 '11-09-51',
 '10-50-32',
 '16-49-19',
 '14-02-23',
 '13-10-15',
 '22-50-17',
 '09-30-22',
 '15-01-52',
 '15-33-47',
 '10-35-44',
 '15-14-28',
 '09-02-41',
 '08-42-37',
 '19-25-29',
 '16-07-33',
 '21-46-45',
 '10-10-35',
 '18-20-12',
 '12-21-12',
 '10-00-53',
 '17-34-59',
 '11-13-02',
 '12-09-19',
 '15-55-22',
 '12-42-58',
 '18-00-05',
 '22-47-34',
 '10-17-27',
 '12-10-23',
 '18-38-40',
 '12-02-44',
 '11-15-43',
 '10-18-04',
 '16-24-45',
 '16-27-07',
 '11-49-22',
 '12-40-26',
 '15-48-47',
 '12-44-49',
 '14-11-58',
 '15-19-26',
 '18-06-44',
 '18-31-32',
 '15-18-47',
 '10-59-16',
 '11-55-45',
 '08-10-09',
 '09-55-32',
 '09-20-16',
 '15-49-56',
 '13-12-09',
 '21-15-57',
 '11-07-17',
 '09-25-22',
 '17-38-04',
 '15-34-03',
 '14-49-51',
 '09-33-56',
 '16-59-39',
 '09-36-35',
 '15-38-15',
 '11-54-22',
 '20-02-10',
 '13-51-04',
 '08-56-56',
 '14-35-07',
 '15-39-13',
 '16-08-40',
 '15-55-01',
 '20-27-05',
 '11-14-18',
 '13-55-38',
 '15-22-37',
 '15-05-24',
 '16-43-30',
 '15-19-42',
 '19-55-21',
 '11-57-06',
 '14-31-51',
 '10-00-43',
 '14-42-14',
 '10-26-51',
 '10-57-06',
 '13-26-07',
 '18-45-59',
 '12-20-47',
 '11-42-41',
 '11-51-20',
 '13-35-42',
 '10-09-03',
 '15-13-33',
 '14-52-15',
 '10-30-23',
 '09-40-57',
 '19-49-15',
 '11-25-11',
 '17-24-16',
 '18-37-41',
 '11-22-48',
 '18-33-30',
 '18-28-34',
 '10-47-01',
 '15-02-28',
 '13-25-44',
 '10-50-11',
 '11-24-39',
 '10-18-55',
 '11-04-53',
 '09-24-54',
 '18-50-02',
 '21-14-12',
 '15-33-58',
 '13-43-48',
 '10-10-55',
 '17-26-47',
 '10-59-35',
 '15-06-27',
 '14-37-21',
 '16-02-32',
 '15-05-05',
 '10-52-18',
 '10-51-24',
 '12-07-29',
 '11-38-53',
 '10-41-45',
 ...}

# เตรียมข้อมูล hospital

In [68]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [69]:
hospital.isnull().any()

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [70]:
hospital_dp = hospital.dropna()
hospital_dp

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [71]:
hospital_dp.shape

(11798, 16)

In [72]:
removes = hospital.shape[0] - hospital_dp.shape[0]
print(f'size before drop = {hospital.shape[0]}')
print(f'size after drop = {hospital_dp.shape[0]}')
print(f'% from drop = {(removes/hospital.shape[0])*100}')

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

## แทนข้อมูล fillna()

In [73]:
hospital_c = hospital.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ','name10':'ไม่ระบุ','short_thai':'ไม่ระบุ','short_english':'ไม่ระบุ'})
hospital_c

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## แทนข้อมูลด้วย mean

In [74]:
pc = hospital_c[['provincecode']].mean() 
hospital_c[['provincecode']] = hospital_c[['provincecode']].fillna(pc)

In [75]:
ac = hospital_c[['amphurcode']].mean() 
hospital_c[['amphurcode']] = hospital_c[['amphurcode']].fillna(ac)

In [76]:
tc = hospital_c[['tamboncode']].mean() 
hospital_c[['tamboncode']] = hospital_c[['tamboncode']].fillna(tc)

In [77]:
c4 = hospital_c[['code4']].mean() 
hospital_c[['code4']] = hospital_c[['code4']].fillna(c4)

In [78]:
c9 = hospital_c[['code9']].mean() 
hospital_c[['code9']] = hospital_c[['code9']].fillna(c9)

In [79]:
hospital_c.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## เปลี่ยน hcode ให้เป็น int

In [80]:
hospital_c['hcode'] = pd.to_numeric( hospital_c['hcode'], errors='coerce')

In [81]:
set(hospital_c['hcode'])

{nan,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 1000.0,
 1001.0,
 ...}

In [82]:
hospital_c = hospital_c.replace(np.nan, 0, regex=True)

In [83]:
hospital_c['hcode'] = hospital_c['hcode'].astype(int)

In [84]:
hospital_c.dtypes

hcode              int64
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [85]:
hospital_c

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [86]:
hospital_c.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

# รวมข้อมูล alldb กับ hospital ทั้งสองตารางเข้าด้วยกัน

In [87]:
alldb_hos =alldb_dp.merge(hospital_c,how='left',left_on='site',right_on='hcode') 
alldb_hos

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
2,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
3,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
4,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37950,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37951,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37952,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37953,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
alldb_hos.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [89]:
alldb_hosdp = alldb_hos.dropna()
alldb_hosdp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
2,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
3,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
4,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37937,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37938,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37939,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37940,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37941,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11-03-40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [90]:
alldb_hosdp.shape

(37880, 25)

In [91]:
removes = alldb_hos.shape[0] - alldb_hosdp.shape[0]
print(f'size before drop = {alldb_hos.shape[0]}')
print(f'size after drop = {alldb_hosdp.shape[0]}')
print(f'% from drop = {(removes/alldb_hos.shape[0])*100}')

size before drop = 37954
size after drop = 37880
% from drop = 0.19497286188544027

## แทนค่าด้วย fillna

In [92]:
alldb_hos_c = alldb_hos.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ','name10':'ไม่ระบุ','short_thai':'ไม่ระบุ','short_english':'ไม่ระบุ','province':'ไม่ระบุ'})
alldb_hos_c

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
2,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
3,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
4,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37950,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37951,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37952,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37953,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

## แทนข้อมูลด้วย mean

In [93]:
hc1 = alldb_hos_c[['hcode']].mean() 
alldb_hos_c[['hcode']] = alldb_hos_c[['hcode']].fillna(hc1) 

pc1 = alldb_hos_c[['provincecode']].mean() 
alldb_hos_c[['provincecode']] = alldb_hos_c[['provincecode']].fillna(pc1) 

ac1 = alldb_hos_c[['amphurcode']].mean() 
alldb_hos_c[['amphurcode']] = alldb_hos_c[['amphurcode']].fillna(ac1)

tc1 = alldb_hos_c[['tamboncode']].mean() 
alldb_hos_c[['tamboncode']] = alldb_hos_c[['tamboncode']].fillna(tc1)

c41 = alldb_hos_c[['code4']].mean() 
alldb_hos_c[['code4']] = alldb_hos_c[['code4']].fillna(c41)

c91 = alldb_hos_c[['code9']].mean() 
alldb_hos_c[['code9']] = alldb_hos_c[['code9']].fillna(c91)

In [94]:
alldb_hos_c

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.000000,...,9.000000,หนองพอก,4.000000,กกโพธิ์,18.000000,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.000000,1 ปฐมภูมิ,รอ,RET
1,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.000000,...,6.000000,สีชมพู,1.000000,สีชมพู,18.000000,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.000000,1 ปฐมภูมิ,ขก,KKN
2,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.000000,...,6.000000,สีชมพู,1.000000,สีชมพู,18.000000,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.000000,1 ปฐมภูมิ,ขก,KKN
3,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.000000,...,1.000000,เมืองขอนแก่น,1.000000,ในเมือง,12.000000,โรงพยาบาล นอก สธ.,10.848590,ไม่ระบุ,ขก,KKN
4,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.000000,...,7.000000,พิชัย,2.000000,บ้านดารา,18.000000,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.000000,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,6167.079937,...,8.638358,ไม่ระบุ,6.412351,ไม่ระบุ,17.186246,ไม่ระบุ,10.656906,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37950,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,6167.079937,...,8.638358,ไม่ระบุ,6.412351,ไม่ระบุ,17.186246,ไม่ระบุ,10.656906,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37951,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,6167.079937,...,8.638358,ไม่ระบุ,6.412351,ไม่ระบุ,17.186246,ไม่ระบุ,10.656906,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37952,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,6167.079937,...,8.638358,ไม่ระบุ,6.412351,ไม่ระบุ,17.186246,ไม่ระบุ,10.656906,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
37953,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,6167.079937,...,8.638358,ไม่ระบุ,6.412351,ไม่ระบุ,17.186246,ไม่ระบุ,10.656906,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [95]:
set(alldb_hos_c)

{'PartitionKey',
 'RowKey',
 'amphur',
 'amphurcode',
 'code4',
 'code9',
 'date',
 'hcode',
 'name',
 'name10',
 'name5',
 'ov',
 'phone',
 'province',
 'provincecode',
 'short_english',
 'short_thai',
 'site',
 'tambon',
 'tamboncode',
 'time',
 'urine',
 'user',
 'zone_code',
 'zone_name'}

In [96]:
set(alldb_hos_c['urine'])

{'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, มีเลือดปน',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

## จำนวนการตรวจในแต่ละพื้นที่

In [97]:
pv = alldb_hos_c.groupby('province').count()
pv

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาญจนบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
กาฬสินธุ์,7895,7895,7895,7895,7895,7895,7895,7895,7895,7895,...,7895,7895,7895,7895,7895,7895,7895,7895,7895,7895
ขอนแก่น,4324,4324,4324,4324,4324,4324,4324,4324,4324,4324,...,4324,4324,4324,4324,4324,4324,4324,4324,4324,4324
จันทบุรี,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
ฉะเชิงเทรา,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
ชลบุรี,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ชัยนาท,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ชัยภูมิ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ตรัง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
นครนายก,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
นครพนม,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
นครราชสีมา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นนทบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
น่าน,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
บุรีรัมย์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ประจวบคีรีขันธ์,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ปราจีนบุรี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
พระนครศรีอยุธยา,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
พะเยา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
พิจิตร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,8935,8935,8935,8935,8935,8935,8935,8935,8935,8935,...,8935,8935,8935,8935,8935,8935,8935,8935,8935,8935
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ระยอง,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
ราชบุรี,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
ร้อยเอ็ด,13716,13716,13716,13716,13716,13716,13716,13716,13716,13716,...,13716,13716,13716,13716,13716,13716,13716,13716,13716,13716
ลพบุรี,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สกลนคร,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สตูล,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สุรินทร์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
อุตรดิตถ์,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
อุบลราชธานี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ไม่ระบุ,74,74,74,74,74,74,74,74,74,74,...,74,74,74,74,74,74,74,74,74,74

In [98]:
pv_c =pv.iloc[:,:1]
pv_c

                  user
province
กาญจนบุรี            1
กาฬสินธุ์         7895
ขอนแก่น           4324
จันทบุรี            27
ฉะเชิงเทรา          11
ชลบุรี               4
ชัยนาท               1
ชัยภูมิ              2
ตรัง                 1
ตราด                 7
นครนายก             25
นครพนม              23
นครราชสีมา           8
นนทบุรี              1
น่าน                 1
บุรีรัมย์            2
ปทุมธานี             3
ประจวบคีรีขันธ์      6
ปราจีนบุรี           5
พระนครศรีอยุธยา      4
พะเยา                1
พิจิตร               2
มหาสารคาม         8935
มุกดาหาร             2
ระยอง                5
ราชบุรี             23
ร้อยเอ็ด         13716
ลพบุรี               6
ลำปาง                1
ศรีสะเกษ             3
สกลนคร               8
สงขลา                1
สตูล                 1
สมุทรปราการ          2
สมุทรสงคราม          1
สมุทรสาคร            1
สระแก้ว              5
สิงห์บุรี            1
สุรินทร์             1
อุดรธานี            15
อุตรดิตถ์         2792
อุบลราชธานี          5
อ่างทอง              1
เชียงใหม่            1
ไม่ระบุ             74

In [99]:
pv_noindex = pv_c.reset_index()
pv_noindex

           province   user
0         กาญจนบุรี      1
1         กาฬสินธุ์   7895
2           ขอนแก่น   4324
3          จันทบุรี     27
4        ฉะเชิงเทรา     11
5            ชลบุรี      4
6            ชัยนาท      1
7           ชัยภูมิ      2
8              ตรัง      1
9              ตราด      7
10          นครนายก     25
11           นครพนม     23
12       นครราชสีมา      8
13          นนทบุรี      1
14             น่าน      1
15        บุรีรัมย์      2
16         ปทุมธานี      3
17  ประจวบคีรีขันธ์      6
18       ปราจีนบุรี      5
19  พระนครศรีอยุธยา      4
20            พะเยา      1
21           พิจิตร      2
22        มหาสารคาม   8935
23         มุกดาหาร      2
24            ระยอง      5
25          ราชบุรี     23
26         ร้อยเอ็ด  13716
27           ลพบุรี      6
28            ลำปาง      1
29         ศรีสะเกษ      3
30           สกลนคร      8
31            สงขลา      1
32             สตูล      1
33      สมุทรปราการ      2
34      สมุทรสงคราม      1
35        สมุทรสาคร      1
36          สระแก้ว      5
37        สิงห์บุรี      1
38         สุรินทร์      1
39         อุดรธานี     15
40        อุตรดิตถ์   2792
41      อุบลราชธานี      5
42          อ่างทอง      1
43        เชียงใหม่      1
44          ไม่ระบุ     74

## จำนวนที่พบโรค

### ระดับ 0

In [100]:
ov0 = alldb_hos_c[alldb_hos_c['ov']== 0]
ov0.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
2,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.0,...,6.0,สีชมพู,1.0,สีชมพู,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ขก,KKN
3,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
8,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",6334,14-57-41,ปกติ (เหลืองใส),0,1,6334.0,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT

In [101]:
ov0 = ov0.groupby('province').count()
ov0.iloc[:,:1]

                 user
province
กาฬสินธุ์        5250
ขอนแก่น          3376
จันทบุรี            2
ฉะเชิงเทรา          8
ชลบุรี              1
ตราด                3
นครนายก            16
นครพนม              3
นครราชสีมา          2
ปทุมธานี            1
ประจวบคีรีขันธ์     1
ปราจีนบุรี          2
พระนครศรีอยุธยา     1
พะเยา               1
พิจิตร              1
มหาสารคาม        3979
มุกดาหาร            2
ราชบุรี            19
ร้อยเอ็ด         7068
ลพบุรี              2
ศรีสะเกษ            1
สกลนคร              4
สงขลา               1
สมุทรปราการ         1
สมุทรสาคร           1
สระแก้ว             3
สิงห์บุรี           1
อุดรธานี            3
อุตรดิตถ์        1524
อุบลราชธานี         2
อ่างทอง             1
เชียงใหม่           1
ไม่ระบุ            22

In [102]:
ov0_noindex = ov0.reset_index()
ov0_noindex.iloc[:,:2]

           province  user
0         กาฬสินธุ์  5250
1           ขอนแก่น  3376
2          จันทบุรี     2
3        ฉะเชิงเทรา     8
4            ชลบุรี     1
5              ตราด     3
6           นครนายก    16
7            นครพนม     3
8        นครราชสีมา     2
9          ปทุมธานี     1
10  ประจวบคีรีขันธ์     1
11       ปราจีนบุรี     2
12  พระนครศรีอยุธยา     1
13            พะเยา     1
14           พิจิตร     1
15        มหาสารคาม  3979
16         มุกดาหาร     2
17          ราชบุรี    19
18         ร้อยเอ็ด  7068
19           ลพบุรี     2
20         ศรีสะเกษ     1
21           สกลนคร     4
22            สงขลา     1
23      สมุทรปราการ     1
24        สมุทรสาคร     1
25          สระแก้ว     3
26        สิงห์บุรี     1
27         อุดรธานี     3
28        อุตรดิตถ์  1524
29      อุบลราชธานี     2
30          อ่างทอง     1
31        เชียงใหม่     1
32          ไม่ระบุ    22

In [103]:
ov_0 = ov0_noindex.iloc[:,:2]
ov_0

           province  user
0         กาฬสินธุ์  5250
1           ขอนแก่น  3376
2          จันทบุรี     2
3        ฉะเชิงเทรา     8
4            ชลบุรี     1
5              ตราด     3
6           นครนายก    16
7            นครพนม     3
8        นครราชสีมา     2
9          ปทุมธานี     1
10  ประจวบคีรีขันธ์     1
11       ปราจีนบุรี     2
12  พระนครศรีอยุธยา     1
13            พะเยา     1
14           พิจิตร     1
15        มหาสารคาม  3979
16         มุกดาหาร     2
17          ราชบุรี    19
18         ร้อยเอ็ด  7068
19           ลพบุรี     2
20         ศรีสะเกษ     1
21           สกลนคร     4
22            สงขลา     1
23      สมุทรปราการ     1
24        สมุทรสาคร     1
25          สระแก้ว     3
26        สิงห์บุรี     1
27         อุดรธานี     3
28        อุตรดิตถ์  1524
29      อุบลราชธานี     2
30          อ่างทอง     1
31        เชียงใหม่     1
32          ไม่ระบุ    22

### ระดับ 1

In [104]:
ov1 = alldb_hos_c[alldb_hos_c['ov']== 1]
ov1.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
19,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,"iPhone14,3",6278,11-49-13,ปกติ (เหลืองใส),1,1,6278.0,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
31,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
36,6964,7667F96F-0ACA-4111-9ABD-54BFE320009D,2022-03-29,"iPhone12,1",6286,10-58-45,ปกติ (เหลืองใส),1,1,6286.0,...,3.0,ท่าปลา,6.0,ท่าแฝก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
40,71152,7A9B5C50-E7CC-4EF4-9E72-7D018B488040,2022-03-10,"iPhone13,2",5327,11-16-06,ปกติ (เหลืองใส),1,1,5327.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
44,6283,83B0AD8E-AF6A-4D2F-A321-B9CF22915090,2022-03-28,"iPhone13,2",6283,14-29-40,ปกติ (เหลืองใส),1,1,6283.0,...,3.0,ท่าปลา,5.0,น้ำหมัน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT

In [105]:
ov1 = ov1.groupby('province').count()
ov1.iloc[:,:1]

                 user
province
กาฬสินธุ์         925
ขอนแก่น           564
จันทบุรี            7
ฉะเชิงเทรา          2
ชลบุรี              2
ชัยภูมิ             1
ตรัง                1
ตราด                3
นครนายก             8
นครพนม              6
นครราชสีมา          3
นนทบุรี             1
บุรีรัมย์           1
ประจวบคีรีขันธ์     3
ปราจีนบุรี          3
พระนครศรีอยุธยา     2
พิจิตร              1
มหาสารคาม        2114
ระยอง               4
ราชบุรี             1
ร้อยเอ็ด         3057
ลพบุรี              1
ศรีสะเกษ            1
สกลนคร              3
สตูล                1
สมุทรปราการ         1
สระแก้ว             1
อุดรธานี            3
อุตรดิตถ์         454
อุบลราชธานี         2
ไม่ระบุ            22

In [106]:
ov1_noindex = ov1.reset_index()
ov1_noindex.iloc[:,:2]

           province  user
0         กาฬสินธุ์   925
1           ขอนแก่น   564
2          จันทบุรี     7
3        ฉะเชิงเทรา     2
4            ชลบุรี     2
5           ชัยภูมิ     1
6              ตรัง     1
7              ตราด     3
8           นครนายก     8
9            นครพนม     6
10       นครราชสีมา     3
11          นนทบุรี     1
12        บุรีรัมย์     1
13  ประจวบคีรีขันธ์     3
14       ปราจีนบุรี     3
15  พระนครศรีอยุธยา     2
16           พิจิตร     1
17        มหาสารคาม  2114
18            ระยอง     4
19          ราชบุรี     1
20         ร้อยเอ็ด  3057
21           ลพบุรี     1
22         ศรีสะเกษ     1
23           สกลนคร     3
24             สตูล     1
25      สมุทรปราการ     1
26          สระแก้ว     1
27         อุดรธานี     3
28        อุตรดิตถ์   454
29      อุบลราชธานี     2
30          ไม่ระบุ    22

In [107]:
ov_1 = ov1_noindex.iloc[:,:2]
ov_1

           province  user
0         กาฬสินธุ์   925
1           ขอนแก่น   564
2          จันทบุรี     7
3        ฉะเชิงเทรา     2
4            ชลบุรี     2
5           ชัยภูมิ     1
6              ตรัง     1
7              ตราด     3
8           นครนายก     8
9            นครพนม     6
10       นครราชสีมา     3
11          นนทบุรี     1
12        บุรีรัมย์     1
13  ประจวบคีรีขันธ์     3
14       ปราจีนบุรี     3
15  พระนครศรีอยุธยา     2
16           พิจิตร     1
17        มหาสารคาม  2114
18            ระยอง     4
19          ราชบุรี     1
20         ร้อยเอ็ด  3057
21           ลพบุรี     1
22         ศรีสะเกษ     1
23           สกลนคร     3
24             สตูล     1
25      สมุทรปราการ     1
26          สระแก้ว     1
27         อุดรธานี     3
28        อุตรดิตถ์   454
29      อุบลราชธานี     2
30          ไม่ระบุ    22

### ระดับ 2

In [108]:
ov2 = alldb_hos_c[alldb_hos_c['ov']== 2]
ov2.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
10,6277,1DDA8B23-D1EA-4E15-AE70-1E7FE53733B6,2022-03-25,"iPhone14,3",6277,10-13-51,ปกติ (เหลืองใส),2,1,6277.0,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
16,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
23,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
24,74891,594A7093-AB5F-4A64-8B74-E336ED81A444,2022-04-01,"iPhone12,8",5055,15-15-35,มีตะกอน,2,1,5055.0,...,10.0,นาดูน,4.0,ดงบัง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
26,40059,5F8D255F-B0F5-4CE5-9607-7916E394173D,2022-03-18,"iPad13,1",5052,11-36-13,ใสเป็นน้ำเปล่า,2,1,5052.0,...,10.0,นาดูน,2.0,หนองไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM

In [109]:
ov2 = ov2.groupby('province').count()
ov2.iloc[:,:1]

                 user
province
กาญจนบุรี           1
กาฬสินธุ์         547
ขอนแก่น           168
จันทบุรี            8
ฉะเชิงเทรา          1
ชัยภูมิ             1
ตราด                1
นครนายก             1
นครพนม              2
นครราชสีมา          2
บุรีรัมย์           1
ปทุมธานี            1
ประจวบคีรีขันธ์     2
พระนครศรีอยุธยา     1
มหาสารคาม        1187
ระยอง               1
ราชบุรี             1
ร้อยเอ็ด         1402
ลพบุรี              2
ลำปาง               1
ศรีสะเกษ            1
อุดรธานี            3
อุตรดิตถ์         235
อุบลราชธานี         1
ไม่ระบุ            13

In [110]:
ov2_noindex = ov2.reset_index()
ov2_noindex.iloc[:,:2]

           province  user
0         กาญจนบุรี     1
1         กาฬสินธุ์   547
2           ขอนแก่น   168
3          จันทบุรี     8
4        ฉะเชิงเทรา     1
5           ชัยภูมิ     1
6              ตราด     1
7           นครนายก     1
8            นครพนม     2
9        นครราชสีมา     2
10        บุรีรัมย์     1
11         ปทุมธานี     1
12  ประจวบคีรีขันธ์     2
13  พระนครศรีอยุธยา     1
14        มหาสารคาม  1187
15            ระยอง     1
16          ราชบุรี     1
17         ร้อยเอ็ด  1402
18           ลพบุรี     2
19            ลำปาง     1
20         ศรีสะเกษ     1
21         อุดรธานี     3
22        อุตรดิตถ์   235
23      อุบลราชธานี     1
24          ไม่ระบุ    13

In [111]:
ov_2 = ov2_noindex.iloc[:,:2]
ov_2

           province  user
0         กาญจนบุรี     1
1         กาฬสินธุ์   547
2           ขอนแก่น   168
3          จันทบุรี     8
4        ฉะเชิงเทรา     1
5           ชัยภูมิ     1
6              ตราด     1
7           นครนายก     1
8            นครพนม     2
9        นครราชสีมา     2
10        บุรีรัมย์     1
11         ปทุมธานี     1
12  ประจวบคีรีขันธ์     2
13  พระนครศรีอยุธยา     1
14        มหาสารคาม  1187
15            ระยอง     1
16          ราชบุรี     1
17         ร้อยเอ็ด  1402
18           ลพบุรี     2
19            ลำปาง     1
20         ศรีสะเกษ     1
21         อุดรธานี     3
22        อุตรดิตถ์   235
23      อุบลราชธานี     1
24          ไม่ระบุ    13

### ระดับ 3

In [112]:
ov3 = alldb_hos_c[alldb_hos_c['ov']== 3]
ov3.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
6,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,10-16-46,ปกติ (เหลืองใส),3,1,6302.0,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
7,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,12-26-38,ปกติ (เหลืองใส),3,1,5059.0,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
9,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,"iPhone14,5",6288,10-28-02,ปกติ (เหลืองใส),3,1,6288.0,...,3.0,ท่าปลา,7.0,นางพญา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
20,16085,49A9B05F-9B2F-49B9-99D7-CC3A60836EE1,2022-03-30,"iPhone13,2",6299,13-11-51,ปกติ (เหลืองใส),3,1,6299.0,...,5.0,ฟากท่า,2.0,สองคอน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
22,60847,52421C45-3625-4E62-B681-158CF7049DC7,2022-03-28,"iPhone14,3",6298,10-23-45,ปกติ (เหลืองใส),3,1,6298.0,...,4.0,น้ำปาด,6.0,ห้วยมุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT

In [113]:
ov3 = ov3.groupby('province').count()
ov3.iloc[:,:1]

             user
province
กาฬสินธุ์     526
ขอนแก่น       127
จันทบุรี        6
ชลบุรี          1
นครพนม          9
นครราชสีมา      1
มหาสารคาม     887
ร้อยเอ็ด     1167
ลพบุรี          1
สมุทรสงคราม     1
สระแก้ว         1
สุรินทร์        1
อุดรธานี        4
อุตรดิตถ์     261
ไม่ระบุ         2

In [114]:
ov3_noindex = ov3.reset_index()
ov3_noindex.iloc[:,:2]

       province  user
0     กาฬสินธุ์   526
1       ขอนแก่น   127
2      จันทบุรี     6
3        ชลบุรี     1
4        นครพนม     9
5    นครราชสีมา     1
6     มหาสารคาม   887
7      ร้อยเอ็ด  1167
8        ลพบุรี     1
9   สมุทรสงคราม     1
10      สระแก้ว     1
11     สุรินทร์     1
12     อุดรธานี     4
13    อุตรดิตถ์   261
14      ไม่ระบุ     2

In [115]:
ov_3 = ov3_noindex.iloc[:,:2]
ov_3

       province  user
0     กาฬสินธุ์   526
1       ขอนแก่น   127
2      จันทบุรี     6
3        ชลบุรี     1
4        นครพนม     9
5    นครราชสีมา     1
6     มหาสารคาม   887
7      ร้อยเอ็ด  1167
8        ลพบุรี     1
9   สมุทรสงคราม     1
10      สระแก้ว     1
11     สุรินทร์     1
12     อุดรธานี     4
13    อุตรดิตถ์   261
14      ไม่ระบุ     2

### ระดับ 4

In [116]:
ov4 = alldb_hos_c[alldb_hos_c['ov']== 4]
ov4.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
4,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
5,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
11,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,"iPhone8,1",6261,15-40-17,ปกติ (เหลืองใส),4,1,6261.0,...,1.0,เมืองอุตรดิตถ์,9.0,งิ้วงาม,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
14,89195,27A826ED-D57D-4386-8A3C-9CFD13297B8B,2022-03-30,"iPhone9,3",6267,10-08-32,ปกติ (เหลืองใส),4,1,6267.0,...,1.0,เมืองอุตรดิตถ์,13.0,วังดิน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
15,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,"iPhone9,4",5000,11-14-25,สีฟ้า หรือน้ำเงิน,4,1,5000.0,...,6.0,บรบือ,20.0,ดอนงัว,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM

In [117]:
ov4 = ov4.groupby('province').count()
ov4.iloc[:,:1]

           user
province
กาฬสินธุ์   647
ขอนแก่น      89
จันทบุรี      4
ชัยนาท        1
นครพนม        3
น่าน          1
ปทุมธานี      1
มหาสารคาม   768
ราชบุรี       2
ร้อยเอ็ด   1021
สกลนคร        1
อุดรธานี      2
อุตรดิตถ์   318
ไม่ระบุ      15

In [118]:
ov4_noindex = ov4.reset_index()
ov4_noindex.iloc[:,:2]

     province  user
0   กาฬสินธุ์   647
1     ขอนแก่น    89
2    จันทบุรี     4
3      ชัยนาท     1
4      นครพนม     3
5        น่าน     1
6    ปทุมธานี     1
7   มหาสารคาม   768
8     ราชบุรี     2
9    ร้อยเอ็ด  1021
10     สกลนคร     1
11   อุดรธานี     2
12  อุตรดิตถ์   318
13    ไม่ระบุ    15

In [119]:
ov_4 = ov4_noindex.iloc[:,:2]
ov_4

     province  user
0   กาฬสินธุ์   647
1     ขอนแก่น    89
2    จันทบุรี     4
3      ชัยนาท     1
4      นครพนม     3
5        น่าน     1
6    ปทุมธานี     1
7   มหาสารคาม   768
8     ราชบุรี     2
9    ร้อยเอ็ด  1021
10     สกลนคร     1
11   อุดรธานี     2
12  อุตรดิตถ์   318
13    ไม่ระบุ    15

# Dashboard อันที่ 1



*  จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)

In [120]:
dash1 = alldb_hos_c[['province','amphur','tambon','ov','urine']]
dash1

        province        amphur    tambon  ov                 urine
0       ร้อยเอ็ด       หนองพอก   กกโพธิ์   0               มีตะกอน
1        ขอนแก่น        สีชมพู    สีชมพู   0       ปกติ (เหลืองใส)
2        ขอนแก่น        สีชมพู    สีชมพู   0       ปกติ (เหลืองใส)
3        ขอนแก่น  เมืองขอนแก่น   ในเมือง   0       ปกติ (เหลืองใส)
4      อุตรดิตถ์         พิชัย  บ้านดารา   4       ปกติ (เหลืองใส)
...          ...           ...       ...  ..                   ...
37949    ไม่ระบุ       ไม่ระบุ   ไม่ระบุ   1                  ขุ่น
37950    ไม่ระบุ       ไม่ระบุ   ไม่ระบุ   0               มีตะกอน
37951    ไม่ระบุ       ไม่ระบุ   ไม่ระบุ   1  ขุ่น, มีเม็ดเลือดแดง
37952    ไม่ระบุ       ไม่ระบุ   ไม่ระบุ   1       ปกติ (เหลืองใส)
37953    ไม่ระบุ       ไม่ระบุ   ไม่ระบุ   1       ปกติ (เหลืองใส)

[37954 rows x 5 columns]

In [121]:
pd.crosstab(dash1['ov'], dash1['province'])

province,กาญจนบุรี,กาฬสินธุ์,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,ตรัง,ตราด,...,สมุทรสาคร,สระแก้ว,สิงห์บุรี,สุรินทร์,อุดรธานี,อุตรดิตถ์,อุบลราชธานี,อ่างทอง,เชียงใหม่,ไม่ระบุ
ov,,,,,,,,,,,,,,,,,,,,,
0,0,5250,3376,2,8,1,0,0,0,3,...,1,3,1,0,3,1524,2,1,1,22
1,0,925,564,7,2,2,0,1,1,3,...,0,1,0,0,3,454,2,0,0,22
2,1,547,168,8,1,0,0,1,0,1,...,0,0,0,0,3,235,1,0,0,13
3,0,526,127,6,0,1,0,0,0,0,...,0,1,0,1,4,261,0,0,0,2
4,0,647,89,4,0,0,1,0,0,0,...,0,0,0,0,2,318,0,0,0,15
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
pd.crosstab(dash1['ov'], dash1['amphur'])

amphur,กบินทร์บุรี,กระทุ่มแบน,กระนวน,กาบเชิง,กุฉินารายณ์,กุมภวาปี,ขลุง,ขามทะเลสอ,ขามสะแกแสง,คลองใหญ่,...,โคกสำโรง,โนนดินแดง,โนนสะอาด,โป่งน้ำร้อน,โพธาราม,โพธิ์ชัย,โพนทราย,โพนทอง,ไชยวาน,ไม่ระบุ
ov,,,,,,,,,,,,,,,,,,,,,
0,1,1,493,0,442,0,1,0,0,0,...,0,0,0,0,19,447,241,431,1,22
1,0,0,60,0,135,0,4,0,0,0,...,1,1,0,1,1,200,256,219,0,22
2,0,0,11,0,91,1,8,1,0,1,...,0,0,0,0,1,100,87,88,0,13
3,0,0,14,1,85,0,4,0,1,0,...,1,0,0,0,0,65,71,79,0,2
4,0,0,4,0,156,0,4,0,0,0,...,0,0,1,0,2,66,40,52,0,15
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
dash1.to_csv('dash1.csv', encoding='utf-8')

In [124]:
dash1.to_csv(os.path.join(path,'dash1.csv'))

# Dashboard อันที่ 2 และ Dashboard อันที่ 3 ใช้ข้อมูลตารางเดียวกัน



*   ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
*   อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ)

In [125]:
dash2 = alldb_hos_c[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
dash2

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
0,85879,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.000000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,ร้อยเอ็ด
1,45161,2022-02-23,"iPhone11,8",4312,09-45-28,ปกติ (เหลืองใส),0,1528,4312.000000,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,ขอนแก่น
2,45161,2022-02-23,"iPhone11,8",4312,10-06-45,ปกติ (เหลืองใส),0,1544,4312.000000,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,ขอนแก่น
3,6223,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.000000,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น
4,12015,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.000000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์
...,...,...,...,...,...,...,...,...,...,...,...
37949,99999,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,6167.079937,ไม่ระบุ,ไม่ระบุ
37950,99999,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,6167.079937,ไม่ระบุ,ไม่ระบุ
37951,99999,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,6167.079937,ไม่ระบุ,ไม่ระบุ
37952,99999,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,6167.079937,ไม่ระบุ,ไม่ระบุ
37953,99999,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,6167.079937,ไม่ระบุ,ไม่ระบุ

In [126]:
dash2.to_csv('dash2.csv', encoding='utf-8')

In [127]:
dash2.to_csv(os.path.join(path,'dash2.csv'))

# Dashboard

https://datastudio.google.com/reporting/99a58b08-116e-4f1e-997d-cefd5dccfe8c