<a href="https://colab.research.google.com/github/Worachet-Ch/data_viz_2022/blob/main/Project_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

โดยไฟล์แต่ละไฟล์ ได้แก่
case_01.csv > รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน (12/01/2020 - 11/08/2021)

case_02.csv > รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน (12/8/2021 - 25/10/2021)

case_03.csv > รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน (26/10/2021 - 27/02/2022)

case_04.csv > รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน (28/2/2022 - 18/03/2022)

malignant.csv > ข้อมูลอัตราป่วยด้วยโรคมะเร็งปอดของผู้ป่วยในโรงพยาบาล ปี 2560 - 2563

#นำข้อมูลเข้า

In [55]:
import pandas as pd #ทำงานกับข้อมูลลักษณะตาราง
import os

In [56]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data' #เข้า drive
data_file_path = os.path.join(path,'case_01.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data_01 = pd.read_csv(data_file_path) #อ่านไฟล์ csv
data_01

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [57]:
data_02 = pd.read_csv(os.path.join(path,'case_02.csv'))
data_02

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [58]:
data_03 = pd.read_csv(os.path.join(path,'case_03.csv'))
data_03

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [59]:
data_04 = pd.read_csv(os.path.join(path,'case_04.csv'))
data_04

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

# ดูdata missing

In [60]:
data_01.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [61]:
data_02.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

In [62]:
data_03.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

In [63]:
data_04.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

# รวมตาราง

In [64]:
data_merged = pd.concat([data_01,data_02,data_03,data_04])
data_merged

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [65]:
data_new = data_merged[['No.','announce_date','sex','age','Unit','province_of_onset','risk']]
data_new

,No.,announce_date,sex,age,Unit,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433549,3303166,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433550,3303167,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433551,3303168,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ
433552,3303169,18/3/2022,หญิง,NaN,NaN,NaN,ทัณฑสถาน/เรือนจำ

In [66]:
data_new.isnull().any()

No.                  False
announce_date        False
sex                   True
age                   True
Unit                  True
province_of_onset     True
risk                  True
dtype: bool

In [67]:
data_new[['sex']] = data_new[['sex']].fillna('ไม่ได้ระบุ')
data_new[['Unit']] = data_new[['Unit']].fillna('ปี')
data_new[['province_of_onset']] = data_new[['province_of_onset']].fillna('ไม่ได้ระบุ')
data_new[['risk']] = data_new[['risk']].fillna('ไม่ได้ระบุ')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [68]:
data_new.isnull().any()

No.                  False
announce_date        False
sex                  False
age                   True
Unit                 False
province_of_onset    False
risk                 False
dtype: bool

In [69]:
data_new.dropna()

,No.,announce_date,sex,age,Unit,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433445,3303062,18/3/2022,ไม่ได้ระบุ,43.0,ปี,ไม่ได้ระบุ,อื่นๆ
433446,3303063,18/3/2022,ไม่ได้ระบุ,21.0,ปี,กรุงเทพมหานคร,อื่นๆ
433447,3303064,18/3/2022,ไม่ได้ระบุ,22.0,ปี,กรุงเทพมหานคร,อื่นๆ
433448,3303065,18/3/2022,ไม่ได้ระบุ,25.0,ปี,กรุงเทพมหานคร,อื่นๆ
433449,3303066,18/3/2022,ไม่ได้ระบุ,64.0,ปี,กำแพงเพชร,อื่นๆ

In [70]:
data_f = data_new.dropna()
data_f

,No.,announce_date,sex,age,Unit,province_of_onset,risk
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,3,22/1/2020,หญิง,73.0,ปี,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
3,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
...,...,...,...,...,...,...,...
433445,3303062,18/3/2022,ไม่ได้ระบุ,43.0,ปี,ไม่ได้ระบุ,อื่นๆ
433446,3303063,18/3/2022,ไม่ได้ระบุ,21.0,ปี,กรุงเทพมหานคร,อื่นๆ
433447,3303064,18/3/2022,ไม่ได้ระบุ,22.0,ปี,กรุงเทพมหานคร,อื่นๆ
433448,3303065,18/3/2022,ไม่ได้ระบุ,25.0,ปี,กรุงเทพมหานคร,อื่นๆ
433449,3303066,18/3/2022,ไม่ได้ระบุ,64.0,ปี,กำแพงเพชร,อื่นๆ

In [71]:
data_f.isnull().any()

No.                  False
announce_date        False
sex                  False
age                  False
Unit                 False
province_of_onset    False
risk                 False
dtype: bool

In [72]:
before = 3303169
after = 3036373
print(f'before = {before} \nafter = {after}\nwhich is {100*((before-after)/before)}')

before = 3303169
after = 3036373
which is 8.076970933064581

# สร้างตารางภูมิภาค

In [73]:
data_regions_onset = {'province_of_onset': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '4 ภูมิภาค (การเมือง)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '6 ภูมิภาค (อุตุนิยมวิทยา)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
            '5 ภูมิภาค (การท่องเที่ยว)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
} #นำเข้าข้อมูล จังหวัดและภูมิภาค

In [74]:
data_re_on = pd.DataFrame.from_dict(data_regions_onset)
data_re_on

,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [75]:
covid_data_on = data_f.merge(data_re_on)
covid_data_on

,No.,announce_date,sex,age,Unit,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...
2755699,3292162,18/3/2022,ชาย,53.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2755700,3292163,18/3/2022,หญิง,34.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2755701,3292164,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2755702,3292165,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2755703,3292166,18/3/2022,หญิง,16.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

In [76]:
covid_data_on.isnull().any()

No.                          False
announce_date                False
sex                          False
age                          False
Unit                         False
province_of_onset            False
risk                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

# สร้างตาราง 3

In [77]:
data_a = pd.read_csv(os.path.join(path,'malignant.csv'))
data_a

,county_of_local,province_of_onset,ผลลัพธ์ปี 2560 (จังหวัด),จำนวนครั้งปี 2560 (จังหวัด),ผลลัพธ์ปี 2561 (จังหวัด),จำนวนครั้งปี 2561 (จังหวัด),ผลลัพธ์ปี 2562 (จังหวัด),จำนวนครั้งปี 2562 (จังหวัด),ผลลัพธ์ปี 2563 (จังหวัด),จำนวนครั้งปี 2563 (จังหวัด)
0,เขต 1 เชียงใหม่,เชียงใหม่,41.74,394,40.31,367,36.56,311,38.73,369
1,เขต 1 เชียงใหม่,ลำพูน,44.83,86,52.03,108,52.98,125,61.15,105
2,เขต 1 เชียงใหม่,ลำปาง,44.67,188,47.65,195,43.20,196,44.17,180
3,เขต 1 เชียงใหม่,แพร่,58.90,112,56.80,95,58.73,113,49.57,72
4,เขต 1 เชียงใหม่,น่าน,55.70,128,56.52,133,55.70,127,44.75,108
...,...,...,...,...,...,...,...,...,...,...
73,เขต 12 สงขลา,ปัตตานี,50.00,21,62.50,35,54.35,29,52.27,23
74,เขต 12 สงขลา,ยะลา,51.22,24,43.75,26,54.72,31,39.66,25
75,เขต 12 สงขลา,นราธิวาส,50.63,51,44.12,34,52.24,43,49.06,34
76,เขต 13 กรุงเทพมหานคร,กรุงเทพฯ,38.92,635,39.88,590,41.49,640,41.02,648
77,"เขต 14 กรมแพทย์ทหารเรือ, กรมแพทย์ทหารอากาศ, ทั...",กรมแพทย์ทหารเรือ,0.00,0,0.00,0,0.00,0,0.00,0

In [78]:
data_a['province_of_onset'].replace({'กรุงเทพฯ':'กรุงเทพมหานคร'} , inplace= True)

In [79]:
data_a.isnull().any()

county_of_local                False
province_of_onset              False
ผลลัพธ์ปี 2560 (จังหวัด)       False
จำนวนครั้งปี 2560 (จังหวัด)    False
ผลลัพธ์ปี 2561 (จังหวัด)       False
จำนวนครั้งปี 2561 (จังหวัด)    False
ผลลัพธ์ปี 2562 (จังหวัด)       False
จำนวนครั้งปี 2562 (จังหวัด)    False
ผลลัพธ์ปี 2563 (จังหวัด)       False
จำนวนครั้งปี 2563 (จังหวัด)    False
dtype: bool

# สร้างตารางโดยเลือกเฉพาะข้อมูลที่ต้องการ

In [80]:
data_2563 = data_a[['county_of_local','province_of_onset','ผลลัพธ์ปี 2563 (จังหวัด)','จำนวนครั้งปี 2563 (จังหวัด)']]

In [81]:
data_2563

,county_of_local,province_of_onset,ผลลัพธ์ปี 2563 (จังหวัด),จำนวนครั้งปี 2563 (จังหวัด)
0,เขต 1 เชียงใหม่,เชียงใหม่,38.73,369
1,เขต 1 เชียงใหม่,ลำพูน,61.15,105
2,เขต 1 เชียงใหม่,ลำปาง,44.17,180
3,เขต 1 เชียงใหม่,แพร่,49.57,72
4,เขต 1 เชียงใหม่,น่าน,44.75,108
...,...,...,...,...
73,เขต 12 สงขลา,ปัตตานี,52.27,23
74,เขต 12 สงขลา,ยะลา,39.66,25
75,เขต 12 สงขลา,นราธิวาส,49.06,34
76,เขต 13 กรุงเทพมหานคร,กรุงเทพมหานคร,41.02,648
77,"เขต 14 กรมแพทย์ทหารเรือ, กรมแพทย์ทหารอากาศ, ทั...",กรมแพทย์ทหารเรือ,0.00,0

In [82]:
data_a.isnull().any()

county_of_local                False
province_of_onset              False
ผลลัพธ์ปี 2560 (จังหวัด)       False
จำนวนครั้งปี 2560 (จังหวัด)    False
ผลลัพธ์ปี 2561 (จังหวัด)       False
จำนวนครั้งปี 2561 (จังหวัด)    False
ผลลัพธ์ปี 2562 (จังหวัด)       False
จำนวนครั้งปี 2562 (จังหวัด)    False
ผลลัพธ์ปี 2563 (จังหวัด)       False
จำนวนครั้งปี 2563 (จังหวัด)    False
dtype: bool

# รวมข้อมูลทั้ง 3

In [83]:
table_total = pd.merge(covid_data_on,data_2563,on='province_of_onset')
table_total

,No.,announce_date,sex,age,Unit,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),county_of_local,ผลลัพธ์ปี 2563 (จังหวัด),จำนวนครั้งปี 2563 (จังหวัด)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2755699,3292162,18/3/2022,ชาย,53.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,เขต 8 อุดรธานี,60.00,30
2755700,3292163,18/3/2022,หญิง,34.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,เขต 8 อุดรธานี,60.00,30
2755701,3292164,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,เขต 8 อุดรธานี,60.00,30
2755702,3292165,18/3/2022,หญิง,54.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,เขต 8 อุดรธานี,60.00,30
2755703,3292166,18/3/2022,หญิง,16.0,ปี,บึงกาฬ,อื่นๆ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,เขต 8 อุดรธานี,60.00,30

In [84]:
table_total.isnull().any()

No.                            False
announce_date                  False
sex                            False
age                            False
Unit                           False
province_of_onset              False
risk                           False
6 ภูมิภาค (ภูมิศาสตร์)         False
4 ภูมิภาค (การเมือง)           False
6 ภูมิภาค (อุตุนิยมวิทยา)      False
5 ภูมิภาค (การท่องเที่ยว)      False
county_of_local                False
ผลลัพธ์ปี 2563 (จังหวัด)       False
จำนวนครั้งปี 2563 (จังหวัด)    False
dtype: bool

# ทำการสร้าง data ที่จะทำ dashboard โดยจะทำการศึกษาในปี 2020

In [85]:
table_total[table_total.announce_date.str.contains('2020')] #การเลือกเฉพาค่าข้อมูลในปี 2020

,No.,announce_date,sex,age,Unit,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),county_of_local,ผลลัพธ์ปี 2563 (จังหวัด),จำนวนครั้งปี 2563 (จังหวัด)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2696640,5922,26/12/2020,หญิง,47.0,ปี,ชัยนาท,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,เขต 3 นครสวรรค์,61.76,58
2701230,5809,24/12/2020,หญิง,44.0,ปี,อ่างทอง,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,เขต 4 สระบุรี,53.85,38
2701231,6689,30/12/2020,ชาย,35.0,ปี,อ่างทอง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กลาง,กลาง,กลาง,กลาง,เขต 4 สระบุรี,53.85,38
2717714,6288,29/12/2020,ชาย,55.0,ปี,ตราด,Cluster สมุทรสาคร,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,เขต 6 ระยอง,69.57,20
2730091,6467,30/12/2020,ชาย,57.0,ปี,ระนอง,Cluster สมุทรสาคร,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,เขต 11 สุราษฎร์ธานี,60.00,19

In [86]:
table_total.isnull().any()

No.                            False
announce_date                  False
sex                            False
age                            False
Unit                           False
province_of_onset              False
risk                           False
6 ภูมิภาค (ภูมิศาสตร์)         False
4 ภูมิภาค (การเมือง)           False
6 ภูมิภาค (อุตุนิยมวิทยา)      False
5 ภูมิภาค (การท่องเที่ยว)      False
county_of_local                False
ผลลัพธ์ปี 2563 (จังหวัด)       False
จำนวนครั้งปี 2563 (จังหวัด)    False
dtype: bool

In [87]:
finish = table_total[table_total.announce_date.str.contains('2020')]

In [88]:
finish

,No.,announce_date,sex,age,Unit,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),county_of_local,ผลลัพธ์ปี 2563 (จังหวัด),จำนวนครั้งปี 2563 (จังหวัด)
0,1,12/1/2020,หญิง,61.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
1,2,17/1/2020,หญิง,74.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
2,4,22/1/2020,ชาย,68.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
3,5,24/1/2020,หญิง,66.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
4,6,25/1/2020,หญิง,33.0,ปี,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กลาง,กลาง,กลาง,เขต 13 กรุงเทพมหานคร,41.02,648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2696640,5922,26/12/2020,หญิง,47.0,ปี,ชัยนาท,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,เขต 3 นครสวรรค์,61.76,58
2701230,5809,24/12/2020,หญิง,44.0,ปี,อ่างทอง,Cluster สมุทรสาคร,กลาง,กลาง,กลาง,กลาง,เขต 4 สระบุรี,53.85,38
2701231,6689,30/12/2020,ชาย,35.0,ปี,อ่างทอง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กลาง,กลาง,กลาง,กลาง,เขต 4 สระบุรี,53.85,38
2717714,6288,29/12/2020,ชาย,55.0,ปี,ตราด,Cluster สมุทรสาคร,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,เขต 6 ระยอง,69.57,20
2730091,6467,30/12/2020,ชาย,57.0,ปี,ระนอง,Cluster สมุทรสาคร,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,เขต 11 สุราษฎร์ธานี,60.00,19

In [89]:
finish.to_csv('finish.csv', encoding = 'utf-8')

In [90]:
finish.to_csv(os.path.join(path,'finish.csv'))